html {
  font-size: 13px;
  box-sizing: border-box;
  @include min(640) {
    font-size: 16px;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: $font-sans;
  color: $body-color;
  background: $body-bg;
}

// Layout
.wrap {
  display: flex;
  flex-direction: column;
  @include min(992) {
    height: 100vh;
  }
}

.header {
  // position: relative;
  margin-top: 1.875rem;
  margin-bottom: 2.3rem;

  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__logo {
    margin-right: 20px;
    margin-bottom: 20px;
    @include min(420) {
      margin-bottom: 0;
    }
  }
  &__actions {
    @include min(420) {
      margin-left: auto;
    }
  }
  &__center {
    flex-grow: 1;
    flex-basis: 100%;
  }
  @include min(992) {
    margin-top: 8.75rem;
    &__row {
      flex-wrap: none;
    }
    &__center {
      flex-basis: auto;
      order: 1;
    }
    &__actions {
      order: 2;
    }
  }
}

.plans {
  flex-grow: 1;
  cursor: url(../img/cursor.svg), default;

  &__columns {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    @include min(992) {
      justify-content: space-between;
    }
  }
  &__col {
    position: relative;
    width: 100%;

    &--separator {
      display: none;
    }

    @include min(640) {
      width: 50%;
    }
    @include min(992) {
      width: auto;

      &--separator {
        display: block;
      }
    }
  }

  &__separator {
    position: relative;
    top: 80px;
    width: 7px;
    height: 155px;
    background-color: rgba(#fff, .3);
  }
}

.footer {
  position: relative;
  padding: 50px 40px;
  background-color: rgba(#681c29, .5);

  @include min(992) {
    padding: 0;
    margin-bottom: 58px;
    background-color: transparent;
  }


  &__benefits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .benefit {
      width: 100%;
      @include min(450) {
        width: 50%;
      }
      @include min(580) {
        width: 33.3333%;
      }
      @include min(992) {
        width: auto;
      }
    }
  }
}

.hover-video .header,
.hover-video .footer {
  z-index: -1;
  position: relative;
}

// Blocks
.logo {
  width: 118px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  padding-top: 3.125rem;;
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  color: #ffccd5;

  @include min(992) {
    padding-top: 0;
    font-size: 3rem;
  }
}

// action

.action {
  display: flex;
  align-items: center;

  &__lang {
    position: relative;
    margin-right: .5rem;

    select {
      font-family: inherit;
      font-size: inherit;
      color: #fff;
      background-color: transparent;
      border: 0;
      appearance: none;
    }
  }
  &__login {
    margin-right: .5rem;
  }

  &__lang,
  &__login,
  &__join {
    padding: 0 .625rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #ffccd5;
    background-color: #b0394e;
    border-radius: 6px;
  }
  &__login,
  &__join {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 3rem;

    &:hover {
      color: #fff;
    }
  }
  &__login-text {
    display: none;
  }
  &__login-icon {
    display: inline-block;
    width: 24px;
    height: 3rem;
    background-image: url(../img/key.png);
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
  }

  @include min(992) {
    &__lang {
      margin-right: 1.5rem;
    }
    &__login {
      margin-right: 1.25rem;
      color: #ffccd5;
      background: none;
    }
    &__login-text {
      display: inline;
    }
    &__login-icon {
      display: none;
    }

    &__lang,
    &__login,
    &__join {
      height: auto;
      padding: 0;
      font-size: 1.125rem;
      background-color: transparent;
    }
  }
}
