// Colors
$color-primary: #f8607b !default;
$text-muted: #999 !default;

// Body
$body-bg: $color-primary !default;
$body-color: #fff !default;

// breakpoints grid
$breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
);

$enable-flex-grid: true;
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$container-max-width: 1240px !default;


// Type
$font-sans: 'Oswald', -apple-system,BlinkMacSystemFont,Roboto, "Segoe UI", Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif !default;
$font-sherif: Georgia, "Times New Roman", Times, serif !default;
$font-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-root: 16px !default;
