<!-- @@include('components/header.html') if gulp-file-include -->
<!-- @@include('components/footer.html') -->

{% extends 'layouts/layout.html' %}

{% block content %}

<div class="wrap">

  <header class="header">
    <div class="container">
      <div class="header__row">

        <div class="header__logo">
          <div class="logo"></div>
        </div>

        <div class="header__actions">
          <div class="action">
            <div class="action__lang">
              <div class="dropdown">
                <div class="dropdown__placeholder"></div>
                <ul class="dropdown__list">
                  <li class="dropdown__item">
                    <span class="dropdown__title">En</span>
                    <span class="dropdown__icon">
                      <svg width="16" height="16">
                        <use xlink:href="./img/symbol.svg#uk" />
                      </svg>
                    </span>
                  </li>
                  <li class="dropdown__item has-selected">
                    <span class="dropdown__title">Ru</span>
                    <span class="dropdown__icon">
                      <svg width="16" height="16">
                        <use xlink:href="./img/symbol.svg#ru" />
                      </svg>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <a href="#0" class="action__login">
              <span class="action__login-text">login</span>
              <span class="action__login-icon"></span>
            </a>
            <a href="#0" class="action__join">Join now</a>
          </div>
        </div>

        <div class="header__center">
          <div class="slogan">choose your pleasure plan</div>
        </div>

      </div>
    </div>
  </header>

  <section class="plans">
    <div class="container">
      <div class="plans__columns">
        <div class="plans__col">
          <div class="plan" data-bgview-id="view1">
            <div class="plan__num">
              <div class="plan__num-lg">12</div>
              <div class="plan__num-sm">1</div>
            </div>
            <div class="plan__time">
              <div class="plan__time-lg">months</div>
              <div class="plan__time-sm">year</div>
            </div>
            <div class="plan__price">12.99/mo</div>
            <div class="plan__action"></div>
          </div>
        </div>
        <div class="plans__col plans__col--separator">
          <div class="plans__separator"></div>
        </div>
        <div class="plans__col">
          <div class="plan" data-bgview-id="view2">
            <div class="plan__num">3</div>
            <div class="plan__time">months</div>
            <div class="plan__price">29.99/mo</div>
            <div class="plan__action"></div>
          </div>
        </div>
        <div class="plans__col plans__col--separator">
          <div class="plans__separator"></div>
        </div>
        <div class="plans__col">
          <div class="plan" data-bgview-id="view3">
            <div class="plan__num">1</div>
            <div class="plan__time">months</div>
            <div class="plan__price">39.99/mo</div>
            <div class="plan__action"></div>
          </div>
        </div>
        <div class="plans__col plans__col--separator">
          <div class="plans__separator"></div>
        </div>
        <div class="plans__col">
          <div class="plan" data-bgview-id="view4">
            <div class="plan__num">3</div>
            <div class="plan__time">day</div>
            <div class="plan__price">39.99/mo</div>
            <div class="plan__action"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer__benefits">
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#bra" />
            </svg>
          </div>
          <div class="benefit__title">701 Models</div>
        </div>
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#video" />
            </svg>
          </div>
          <div class="benefit__title">2500+ Videos</div>
        </div>
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#camera" />
            </svg>
          </div>
          <div class="benefit__title">59925 Pictures</div>
        </div>
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#website" />
            </svg>
          </div>
          <div class="benefit__title">16 Niche Sites</div>
        </div>
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#folder-video" />
            </svg>
          </div>
          <div class="benefit__title">4.16 Tb Archive</div>
        </div>
        <div class="benefit">
          <div class="benefit__ico">
            <svg width="24" height="24">
              <use xlink:href="./img/symbol.svg#headphone" />
            </svg>
          </div>
          <div class="benefit__title">24/7 Support</div>
        </div>
      </div>
    </div>
  </footer>

  <div class="bgview">
    <div class="bgview__item bgview__item--1 js-bgview-item fade" id="view1"></div>
    <div class="bgview__item bgview__item--2 js-bgview-item" id="view2"></div>
    <div class="bgview__item bgview__item--3 js-bgview-item" id="view3"></div>
    <div class="bgview__item bgview__item--4 js-bgview-item" id="view4"></div>
  </div>
</div>

{% endblock %}
