<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700">
  <link rel="stylesheet" href="./css/app.css">
  <title>Document</title>
</head>
<body>

   {% block content %}{% endblock %}

   <script src="./js/vendor.js"></script>
   <script src="./js/app.js"></script>
</body>
</html>
