.benefit {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;

  &__ico {
    display: inline-flex;
    align-items: center;
    color: #fff;

    svg {
      width: 26px;
      height: 23px;
      stroke: currentColor;
    }
  }

  &__title {
    padding-left: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
  }
}
