.bgview {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 0;
    transition: opacity .25s linear;
    // z-index: -101;

    &--1 {
      background-image: url('../img/girl1.png');
      // opacity: 1;
    }
    &--2 {
      background-image: url('../img/girl2.png');
    }
    &--3 {
      background-image: url('../img/girl3.png');
    }
    &--4 {
      background-image: url('../img/girl4.png');
    }

    &.fade {
      transition-delay: .5s;
      opacity: 1;
    }
  }

}
.video-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%) scaleX(.5);
  opacity: 0;
  transition: all .25s ease .2s;

  &.is-show {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scaleX(1);
  }
}


body {
  &::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(#000, .3);
    z-index: -1;
    transition: all .25s ease;
  }

  &.hover-video::after {
    opacity: 1;
    visibility: visible;
  }
}
