.dropdown {
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    width: 10px;
    background-image: url(../img/shevron-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000;
  }

  &__placeholder {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-width: 45px;
    padding: 5px 15px 5px 5px;
    user-select: none;
  }

  &__list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding-left: 0;
    padding: 5px;
    list-style: none;
    background-color: transparent;
    z-index: 9999;
    background-color: #b0394e;

    @include min(992) {
      background-color: darken($body-bg, 5%);
    }
  }

  &.is-open &__list {
    display: block;
  }

  &__icon {
    display: none;
    @include min(992) {
      display: inline-block;
    }
    svg {
      box-shadow: 0 0 0 2px #b3485b;
    }
  }

  &__item {
    padding-left: 8px;
    @include min(640) {
      padding-left: 10px;
    }
    @include min(992) {
      padding-left: 0;
    }
  }

  &__title {
    margin-right: 5px;
    display: inline-block;
    text-transform: uppercase;
    @include min(992) {
      display: none;
    }
  }

}
