.plan {
  position: relative;
  text-align: center;
  margin-bottom: 7rem;
  transition: opacity .25s linear;
  will-change: opacity;

  &__num {
    margin-bottom: 1.5rem;
    font-size: 12.5rem;
    height: 12.5rem;
    line-height: 1;
    overflow: hidden;
  }
  &__num-lg,
  &__time-lg {
    display: none;
  }
  &__num-sm,
  &__time-sm {
    display: block;
  }

  &__time {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    line-height: 48px;
  }

  &__price {
    font-size: 2.25rem;
    color: #000;
  }

  &__action {

  }

  @include min(992) {
    margin-bottom: 0;
    &__num {
      height: 18rem;
      margin-bottom: 2.5rem;
      font-size: 18.75rem;
    }
    &__num-lg,
    &__time-lg {
      display: block;
    }
    &__num-sm,
    &__time-sm {
      display: none;
    }

    &__time {
      font-size: 3.5rem;
      margin-bottom: 2.1rem;
    }

    &__price {
      font-size: 3rem;
    }
  }
}

.hover-plan .plan:not(.is-active) {
  transition-delay: .5s;
  opacity: 0.25;
}
